<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DomainAccountLock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DomainAccountLock.Properties.Settings>
            <setting name="RootFolder" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LoadOnWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserDefinedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCList" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
        </DomainAccountLock.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
